extends layout

block content
  //- a(href="/insert") Bet your life more!
  form(action='/insert', method='post')
    p
      label 김규범
      input(type='text', name='player1')
    p
      label 김정수
      input(type='text', name='player2')
    p
      label 박성수
      input(type='text', name='player3')
    p
      input(type='submit', value='Bet your life more!')
      
  table
    thead
    tbody
      tr
        td No
        td 김규범
        td 김정수
        td 박성수
      - var columns = Object.keys(object[0]).length
      - for (var i = 0; i < object.length; i++)
        tr
        - for (var j = 0; j < columns; j++)
          td=object[i][Object.keys(object[i])[j]]
